<!-- <button type="button" class="btn btn-primary btn-xs">back</button> -->

<!-- AKA project panel -->
<h1>Project: <%= project.name %></h1>
<%= project.date %> <br>
<%= project.description %>


<hr>

<!-- List of user's projects -->
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <!-- project's paperedit list partial -->
      <%- partial('../paperedit/_index.ejs') %>
  </div><!-- end col  -->

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <!-- project's transcript list partial -->
    <%- partial('../transcript/_index.ejs') %>
  </div><!-- end col  -->

</div> <!-- end row -->
