
<div id="oneTranscription">
  <%- partial ('_search.ejs') %>
   <article id=<%="transcription video._id " %>class="sortable transcription">
     <p>
     <% "for w in video.hyperTranscript.words" %>
          <span class="word not-read child" tcIn=<%=" w.startTime "%> tcOut=<%=" w.endTime "%> wordID=<%=" w.id "%> transcriptionId=<%="video._id "%> transcriptionSrc=<%=" video.filePathName"%> ><%=" w.text"%> </span>
           <% "if w.text.indexOf('.') > -1" %>
             </p>
           <%" endif" %>
       <% "endfor "%>
   </article>
</div>
